<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
      
      
      
      
      <div layout:fragment="content">
    
    <div>
        <form th:action="@{/register}" method="post">

            <div class="form-group">
                <label>역할</label>
                <input class="form-control" name="role" th:value="${vo.role}" placeholder="role text here." />
            </div>

            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="3" name="content" th:text="${vo.content}" placeholder="Content text here."></textarea>
            </div>

            <div class="form-group">
                <label>상세설명</label> <input class="form-control" name="detail" th:value="${vo.detail}" placeholder="detail text here."/>
            </div>
            <div class="form-group">
               <label>기간</label> <input class="form-control" name="date" th:value="${vo.date}" placeholder="date text here."/>
                   </div>

            <button type="submit" class="btn btn-primary">Submit Button</button>
            <button type="reset" class="btn btn-warning">Reset Button</button>
        </form>

    </div>

</div>